---
title: Duos Asinos Consulting - Career
layout: 'base.njk'
---

    <main>
      <section class="half-heading">
        <div class="page-heading career-page">
          <h2>Career</h2>
        </div>
      </section>
      <section class="working-with-us-blue">
        <div class="container">
          <h2 class="heading career-white">Working at Duos Asinos</h2>
          <div class="career-gallery">
            <div class="career-img reveal fade-left">
              <img src="/img/career0.jpg" alt="" />
              <p>Find Your Ideal Position</p>
            </div>
            <div class="career-img reveal fade-bottom">
              <img src="/img/career1.jpg" alt="" />
              <p>Find Your Ideal Position</p>
            </div>
            <div class="career-img reveal fade-right">
              <img src="/img/career2.jpg" alt="" />
              <p>Find Your Ideal Position</p>
            </div>
          </div>
        </div>
      </section>
      <section class="benefits">
        <div class="container">
          <h2 class="heading career-benefits">Benefits</h2>
          <div class="benefits-list">
            <div class="benefit-card reveal fade-left">
              <img src="/img/icons/flexRemote.png" alt="" />
              <div class="benefit-card-text">
                <h4>Flexible and remote</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                  aspernatur quisquam dolor, eaque ullam ab omnis. Consequuntur
                  accusamus molestiae, tenetur nobis deleniti?
                </p>
              </div>
            </div>
            <div class="benefit-card reveal fade-right">
              <img src="/img/icons/dynamic.png" alt="" />
              <div class="benefit-card-text">
                <h4>Dynamic Projects and Challenging Opportunities</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                  aspernatur quisquam dolor, eaque ullam ab omnis. Consequuntur
                  accusamus molestiae, tenetur nobis deleniti?
                </p>
              </div>
            </div>
            <div class="benefit-card reveal fade-left">
              <img src="/img/icons/growthbullseye.png" alt="" />
              <div class="benefit-card-text">
                <h4>Flexible and remote</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                  aspernatur quisquam dolor, eaque ullam ab omnis. Consequuntur
                  accusamus molestiae, tenetur nobis deleniti?
                </p>
              </div>
            </div>
            <div class="benefit-card reveal fade-right">
              <img src="/img/icons/privatehealth.png" alt="" />
              <div class="benefit-card-text">
                <h4>Flexible and remote</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                  aspernatur quisquam dolor, eaque ullam ab omnis. Consequuntur
                  accusamus molestiae, tenetur nobis deleniti?
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="other-perks">
        <div class="container">
          <h3 class="perks-heading">Other Perks</h3>
          <div class="perks-list">
            <div class="perk">
              <img src="/img/icons/cash.png" alt="" />
              <hr />
              <p>
                Flexible payment options - salaried and hourly positions
                available
              </p>
            </div>
            <div class="perk">
              <img src="/img/icons/cashgraph.png" alt="" />
              <hr />
              <p>Annual pay increases for good performance</p>
            </div>
            <div class="perk">
              <img src="/img/icons/speed.png" alt="" />
              <hr />
              <p>Reliable, consistent workload</p>
            </div>
            <div class="perk">
              <img src="/img/icons/reading.png" alt="" />
              <hr />
              <p>Paid training and other professional growth opportunities</p>
            </div>
            <div class="perk">
              <img src="/img/icons/flight.png" alt="" />
              <hr />
              <p>International travel opportunities (not required)</p>
            </div>
            <div class="perk">
              <img src="/img/icons/stars.png" alt="" />
              <hr />
              <p>
                Interesting, challenging projects using the latest technologies
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="open-positions">
        <div class="container">
          <h2 class="heading career-open-positions">Open Positions</h2>
          <div class="open-positions-filter">
            <h4>Select a position you are interested in</h4>
            <div class="filter">
              <div class="filter-col">
                <ul id="filter-options">
                  <li>
                    <input
                      type="checkbox"
                      value="ui"
                      data-filter_id="ui"
                    /><span> UI</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="ux"
                      data-filter_id="ux"
                    /><span> UX</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="development"
                      data-filter_id="development"
                    />
                    <span> Development</span>
                  </li>
                </ul>
              </div>
              <div class="filter-col">
                <ul id="filter-options">
                  <li>
                    <input
                      type="checkbox"
                      value="consultant"
                      data-filter_id="consultant"
                    /><span> Consultant</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="project-engineering"
                      data-filter_id="project-engineering"
                    /><span> Project Engineering</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="project-management"
                      data-filter_id="project-management"
                    />
                    <span> Project Management</span>
                  </li>
                </ul>
              </div>
              <div class="filter-col">
                <ul id="filter-options">
                  <li>
                    <input
                      type="checkbox"
                      value="qa"
                      data-filter_id="qa"
                    /><span> QA</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="video-editing"
                      data-filter_id="video-editing"
                    /><span> Video Editing</span>
                  </li>
                  <li>
                    <input
                      type="checkbox"
                      value="other"
                      data-filter_id="other"
                    />
                    <span> Other</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="filter-cards reveal fade-bottom">
            <div class="filter-cards-list">
              <ul id="results-list">

                {%- for job in collections.job -%}

                <li class="{{job.data.jobTag}}">
                  <div class="filter-card">
                    <h4>{{job.data.title}}</h4>
                    <p class="skills-list">{{job.data.tag}}</p>
                    <p class="job-short-desc">
                      {{job.data.description}}
                    </p>
                    <div class="see-job">
                      <p>{{job.data.jobType}}</p>
                      <a
                        href="{{job.url}}"
                        class="read-btn"
                        target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>

                 {%- endfor -%} 
                {# <li class="ux ui">
                  <div class="filter-card">
                    <h4>Senior UI/UX Designer</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="development">
                  <div class="filter-card">
                    <h4>Senior Frontend Developer</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="consultant">
                  <div class="filter-card">
                    <h4>Consultant</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="project-engineering">
                  <div class="filter-card">
                    <h4>Project Engineer</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="project-management">
                  <div class="filter-card">
                    <h4>Project Manager</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="qa">
                  <div class="filter-card">
                    <h4>QA Specialist</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="video-editing">
                  <div class="filter-card">
                    <h4>Video Editor</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li>
                <li class="other">
                  <div class="filter-card">
                    <h4>Some other job</h4>
                    <p class="skills-list">Figma, Adobe Photoshop, Adobe XD</p>
                    <p class="job-short-desc">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Soluta provident sequi minus corporis molestiae obcaecati
                      sed nemo dignissimos alias tempore?
                    </p>
                    <div class="see-job">
                      <p>Full time job</p>
                      <a href="#" class="read-btn" target="_blank"
                        >Learn more</a
                      >
                    </div>
                  </div>
                </li> #}
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="job-apply-form">
        <div class="container">
          <h3>Nothing found?</h3>
          <p>
            We are always looking for talented and motivated employees. If you
            want to join a growing team and work on new projects, send us your
            documents and introduce yourself.
          </p>
          <div class="contact-form">
            <div class="wrapper">
              <form action="#">
                <div class="dbl-field">
                  <div class="field">
                    <label for="fname">First Name *</label>
                    <input
                      type="text"
                      name="firstName"
                      id="fname"
                      placeholder="First Name"
                      required
                    />
                  </div>
                  <div class="field">
                    <label for="lname">Last Name *</label>
                    <input
                      type="text"
                      name="lastName"
                      id="lname"
                      placeholder="Last Name"
                      required
                    />
                  </div>
                </div>
                <div class="dbl-field">
                  <div class="field">
                    <label for="email">Email *</label>
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="field">
                    <label for="pnumber">Phone Number *</label>
                    <input
                      type="text"
                      name="phoneNumber"
                      id="pnumber"
                      placeholder="Phone Number"
                      required
                    />
                  </div>
                </div>
                <div class="dbl-field">
                  <div class="field upload">
                    <input type="file" name="cv" id="cv" required />
                    <div class="upload-label"></div>
                  </div>
                  <div class="field upload">
                    <input
                      type="file"
                      name="coverLetter"
                      id="cover-letter"
                      required
                    />
                    <div class="upload-label"></div>
                  </div>
                </div>

                <div class="button-area">
                  <span>Sending your message...</span>
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <hr />
        </div>
      </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/category-filter.js"></script>
    <script src="/js/fileupload.js"></script>

