---
title: Duos Asinos Consulting - Services
layout: 'base.njk'
---

    <main>
      <section class="half-heading">
        <div class="page-heading services">
          <h2>Services</h2>
        </div>
      </section>
      <section class="our-services-blue">
        <div class="container">
          <h2 class="heading services-white">Our services</h2>
          <div class="services-tabs">
            <div class="services-tab">
              <div class="service-title">
                <img src="/img/icons/codeLaptopWhite.png" alt="" />
                <h2 class="tab-btn active-tab" data-tab="tab-1">
                  Software Development
                </h2>
              </div>
              <div id="tab-1" class="services-tab-content active-tab">
                <div class="tab-content-sd">
                  <div class="sd-list">
                    <ul>
                      <li>Software maintance and support</li>
                      <li>Progressive web app development</li>
                      <li>Custom web development services</li>
                      <li>Something else here</li>
                    </ul>
                  </div>
                  <div class="sd-tech-we-use">
                    <h3>Technologies we mostly use</h3>
                    <div class="sd-icons">
                      <div class="html">
                        <img src="/img/icons/htmlBlack.png" alt="" />
                        <p>HTML5</p>
                      </div>
                      <div class="css">
                        <img src="/img/icons/cssBlack.png" alt="" />
                        <p>CSS3</p>
                      </div>
                      <div class="dotnet">
                        <img src="/img/icons/dotnetBlack.png" alt="" />
                        <p>.NET</p>
                      </div>
                      <div class="vue">
                        <img src="/img/icons/vueBlack.png" alt="" />
                        <p>Vue.js</p>
                      </div>
                      <div class="react">
                        <img src="/img/icons/reactBlack.png" alt="" />
                        <p>React.js</p>
                      </div>
                      <div class="java">
                        <img src="/img/icons/javaBlack.png" alt="" />
                        <p>Java</p>
                      </div>
                    </div>
                    <hr />
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Modi expedita placeat quisquam molestias alias rem dolore
                      commodi tempore deleniti tempora!
                    </p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Minus excepturi autem, odio ex saepe tenetur repellendus
                      repudiandae tempora mollitia placeat asperiores alias
                      corrupti perferendis non odit, enim dignissimos laudantium
                      culpa eligendi voluptas harum. Aut nesciunt nisi
                      necessitatibus molestiae adipisci. Impedit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-tab">
              <div class="service-title">
                <img src="/img/icons/designWhite.png" alt="" />
                <h2 class="tab-btn" data-tab="tab-2">Visual Design</h2>
              </div>

              <div id="tab-2" class="services-tab-content">
                <div class="tab-content-vd">
                  <div class="vd-list">
                    <ul>
                      <li>Software maintance and support</li>
                      <li>Progressive web app development</li>
                      <li>Custom web development services</li>
                      <li>Something else here</li>
                    </ul>
                  </div>
                  <div class="vd-tech-we-use">
                    <h3>Technologies we mostly use</h3>
                    <div class="vd-icons">
                      <div class="ai">
                        <img src="/img/icons/aiWhite.png" alt="" />
                        <p>Illustrator</p>
                      </div>
                      <div class="id">
                        <img src="/img/icons/idWhite.png" alt="" />
                        <p>inDesign</p>
                      </div>
                      <div class="ps">
                        <img src="/img/icons/psWhite.png" alt="" />
                        <p>Photoshop</p>
                      </div>
                      <div class="ae">
                        <img src="/img/icons/aeWhite.png" alt="" />
                        <p>After Effects</p>
                      </div>
                    </div>
                  </div>
                  <div class="vd-text">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Modi expedita placeat quisquam molestias alias rem dolore
                      commodi tempore deleniti tempora!
                    </p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Minus excepturi autem, odio ex saepe tenetur repellendus
                      repudiandae tempora mollitia placeat asperiores alias
                      corrupti perferendis non odit, enim dignissimos laudantium
                      culpa eligendi voluptas harum. Aut nesciunt nisi
                      necessitatibus molestiae adipisci. Impedit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-tab">
              <div class="service-title">
                <img src="/img/icons/qaWhite.png" alt="" />
                <h2 class="tab-btn" data-tab="tab-3">Quality Assurance</h2>
              </div>

              <div id="tab-3" class="services-tab-content">
                <div class="tab-content-qa">
                  <div class="qa-tech-we-use">
                    <h3>Technologies we mostly use</h3>
                    <div class="qa-icons">
                      <div class="selenium">
                        <img src="/img/icons/selenium.png" alt="" />
                        <p>Selenium</p>
                      </div>
                    </div>
                    <hr />
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Modi expedita placeat quisquam molestias alias rem dolore
                      commodi tempore deleniti tempora!
                    </p>
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Minus excepturi autem, odio ex saepe tenetur repellendus
                      repudiandae tempora mollitia placeat asperiores alias
                      corrupti perferendis non odit, enim dignissimos laudantium
                      culpa eligendi voluptas harum. Aut nesciunt nisi
                      necessitatibus molestiae adipisci. Impedit.
                    </p>
                  </div>
                  <div class="qa-list">
                    <ul>
                      <li>Software maintance and support</li>
                      <li>Progressive web app development</li>
                      <li>Custom web development services</li>
                      <li>Something else here</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="insights">
        <div class="container">
          <h3>Duos Asinos insights</h3>
          <div class="counters">
            <div class="counter-data reveal fade-bottom">
              <img src="/img/icons/projectsWhite.png" alt="" />
              <div class="numbers">
                <div class="counter" data-target="500">0</div>
                <span>+</span>
              </div>
              <h4>Projects</h4>
            </div>
            <div class="counter-data reveal fade-bottom">
              <img src="/img/icons/clientsWhite.png" alt="" />
              <div class="numbers">
                <div class="counter" data-target="200">0</div>
                <span>+</span>
              </div>
              <h4>Happy Clients</h4>
            </div>
            <div class="counter-data reveal fade-bottom">
              <img src="/img/icons/engineers.png" alt="" />
              <div class="numbers">
                <div class="counter" data-target="50">0</div>
                <span>+</span>
              </div>
              <h4>Engineers</h4>
            </div>
          </div>
        </div>
      </section>
      <section class="why-partnership">
        <div class="container">
          <div class="cta-partnership">
            <img src="/img/austin-distel-rxpThOwuVgE-unsplash.jpg" alt="" />
            <div class="partnership-text">
              <h3>Why partnering with us is a smart decision</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
                corporis molestias eius. Iure accusamus ad ut, officia rem ipsam
                illum quasi soluta doloremque libero nisi provident culpa.
                Recusandae ratione earum voluptatum impedit nihil. Asperiores
                nobis perferendis, totam maiores voluptatum facere!
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                saepe voluptatibus, reprehenderit culpa modi esse!
              </p>
              <a href="/contact" target="_blank" class="btn-services"
                >Get in touch</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
   
