<footer class="footer">
      <div class="follow-us">
        <h3 class="follow-us-text">Follow us on</h3>
        <a href="https://www.linkedin.com/company/duos-asinos-consulting/mycompany/" target="_blank"><img src="/img/icons/linkedin-logo.png" alt=""></a>
      </div>
      <div class="logo-and-links">
        <div class="container">
        <a href="/index.html"><img class="logo" src="/img/logo/DuosAsinos NoviLogoZaWeb.png" alt=""></a>
        <div class="useful-links">
          <h5>Useful Links</h5>
          <div class="footer-links">
            <a href="/career">Careers</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
          </div>
         </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p class="copy-text">Copyright &copy; Duos Asinos <span class="year">2022</span></p>
        </div>
      </div>
    </footer>