<header class="header container">
        <a href="/index.html">
          <img
            class="logo"
            src="/img/logo/DuosAsinos NoviLogoZaWeb.png"
            alt="Duos Asinos - Logo"
          />
        </a>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li><a class="main-nav-link" href="/services">Services</a></li>
            <li><a class="main-nav-link" href="/blog">Blog</a></li>
            <li><a class="main-nav-link" href="/contact">Contact</a></li>
            <li><a class="main-nav-link" href="/about">About</a></li>
            <li><a class="nav-cta" href="/career"><span>Career</span></a></li>
          </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a class="main-nav-link" href="/services">Services</a></li>
            <li><a class="main-nav-link" href="/blog">Blog</a></li>
            <li><a class="main-nav-link" href="/contact">Contact</a></li>
            <li><a class="main-nav-link" href="/about">About</a></li>
            <li><a class="nav-cta" href="/career"><span>Career</span></a></li>
          </ul>
        </div>
        
      </header>