---
layout: 'base.njk'
---

    <main>
      <section class="half-heading">
        <div class="page-heading blog-post">
          <h2>{{title}}</h2>
        </div>
      </section>
      <article class="blog-post-section">
        <div class="container">
          <div class="article-text">
            {{ content | safe }}
            <hr />
          </div>
          <div class="author-share">
            <div class="author-info">
              <img src="/img/profile.jpg" alt="" />
              <div class="author-name-title">
                <h4>Writers name</h4>
                <p>Social media manager, Belgrade</p>
              </div>
            </div>
            <div class="share-article">
              <p>Share this article:</p>
              <div class="social-share-icons">
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u=https://giga95.github.io/Duos-Asinos-Website/blog-post.html"
                  target="_blank"
                  ><img src="/img/icons/facebook-share.png" alt=""
                /></a>
                <a
                  href="https://twitter.com/intent/tweet?url=https://giga95.github.io/Duos-Asinos-Website/blog-post.html&text=Check out this interesting blog post!"
                  target="_blank"
                  ><img src="/img/icons/twitter-share.png" alt=""
                /></a>
                <a
                  href="https://www.linkedin.com/sharing/share-offsite/?url=https://giga95.github.io/Duos-Asinos-Website/blog-post.html"
                  target="_blank"
                  ><img src="/img/icons/linkedin-share.png" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
